<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406030308933-iqaadfqjti56dfjrqn6v7vln2dvenpda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406030308933-iqaadfqjti56dfjrqn6v7vln2dvenpda</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406030308933-o23272sj05jr2nu445uu3tllu2fahs1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj6kJuhVNuSQ4g2KWBCmRaeJJRrimCgjk</string>
	<key>GCM_SENDER_ID</key>
	<string>406030308933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spacex</string>
	<key>PROJECT_ID</key>
	<string>spacex-flutter-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>spacex-flutter-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406030308933:ios:09b839451252d9e01af52c</string>
</dict>
</plist>